body {
  margin: 0px auto;
  width: 750px;
  background: url('../img/bg.jpg') no-repeat fixed center;
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: royalblue;
}

a:hover {
  text-decoration: underline;
}

.box {
  margin: 20px auto;
  padding: 10px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #111111;
  opacity: 0.9;
}

#header {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header h1 {
  margin-top: 50px;
}

#header h3 {
  position: absolute;
  left: 585px;
  top: 10px;
  margin: 0;
  font-style: italic;
  color: #666666;
}

#header #nav {
  position: absolute;
  left: 0px;
  top: 10px;
}

#header #nav ul {
  margin: 0;
  padding: 0;
}

#header #nav ul li {
  display: inline;
  margin-left: 30px;
}

#content {
  min-height: 200px;
  padding: 20px;
}

#footer {
  display: flex;
  justify-content: center;
  font-size: small;
}

.date {
  float: right;
}

.article-list {
}

.center {
  text-align: center;
  margin: 0 auto;
}

