{{ define "main" }}
<div class="container-fluid">
  <section class="hero
    {{ if eq .Kind "section" }}
      is-primary
    {{ else if eq .Type "categories" }}
      is-info
    {{ else if eq .Type "tags" }}
      is-success
    {{ else }}
      is-warning
    {{ end }}">
    <div class="hero-body">
      <div class="container">
        <div class="content">
          <h1>{{ if eq .Kind "taxonomy" }}<a href="/{{ .Type }}/">
              {{ if eq .Type "categories" }}Category{{ else if eq .Type "tags" }}Tag{{ else }}{{ .Type }}{{ end }}</a>:
              {{ end }}{{ .Title }}</h1>
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        <ul>
          {{ range .Pages }}
          <li>
            {{ if (and (eq .Kind "page") (not .Date.IsZero)) }}
              <span>{{ .Date.Format "2006-01-02" }}</span>
            {{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ if .Draft }}<span class="tag is-warning">draft</span>{{ end }}
            {{ if eq .Kind "page" }}
              {{ range .Params.categories }}<a class="tag is-info" href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . | upper }}</a> {{ end }}
              {{ range .Params.tags }}<a class="tag is-success" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . | lower }}</a> {{ end }}
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>
</div>
{{ end }}
