{{ define "main" }}
<div class="container-fluid">
  <section class="hero is-white is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">{{ .Title }}</h1>
        <h2 class="subtitle">{{ .Site.Params.description }}</h2>
        <div id="hypertorus"></div>
        {{ .Content }}
      </div>
    </div>
  </section>
</div>
<script src="{{ "js/three.min.js" | relURL }}"></script>
<script src="{{ "js/OrbitControls.js" | relURL }}"></script>
<script src="{{ "js/hypertorus.js" | relURL }}"></script>
{{ end }}
